@model SistemaMerck.Modelos.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Pantalla2";
}

<body class="@(Model.ReservaOvarica <= 10 ? "body2-bajo" : (Model.ReservaOvarica > 10 && Model.ReservaOvarica <= 20 ? "body2-medio" : "body2-alto"))">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p class="reserva-texto text-white font-family-roboto">EDAD ACTUAL: @Model.EdadActual</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p class="reserva-texto text-white font-family-roboto">1ERA MENSTRUACIÓN MENSTRUACIÓN: @Model.EdadPrimeraMentruacion</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p class="reserva-texto">
                    RESERVA OVÁRICA: @Model.ReservaOvarica
                </p>
            </div>
        </div>
    </div>

    @if (Model.ReservaOvarica <= 20)
    {
        <script>
            var reservaOvaricaUsuario = @Model.ReservaOvarica;
        </script>
        <div id="chart_div" style="width: 100%; height: 400px;"></div>
    }

    <div class="row mt-3">
        <div class="col-md-6 offset-md-3 text-center">
            <a asp-controller="Home" asp-action="Pantalla3" class="btn btn-primary">Más Información</a>
        </div>
    </div>

</body>


