@model SistemaMerck.Modelos.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Pantalla2";
}

<body class="@(Model.ReservaOvarica <= 10 ? "body2-bajo" : (Model.ReservaOvarica > 10 && Model.ReservaOvarica <= 20 ? "body2-medio" : "body2-alto"))">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p class="reserva-texto text-white font-family-roboto">EDAD ACTUAL: @Model.EdadActual</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p class="reserva-texto text-white font-family-roboto">1ERA MENSTRUACIÓN MENSTRUACIÓN: @Model.EdadPrimeraMentruacion</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p class="reserva-texto">
                    RESERVA OVÁRICA:
                    <span class="text-c33b80">
                        @if (Model.ReservaOvarica <= 20)
                        {
                            <script>
                                // Llama a la función definida en maps.js
                                initMap();
                            </script>
                        }
                    </span>
                </p>
            </div>
        </div>
    </div>

    <script src="~/js/maps.js"></script>

    <div class="icon-container">
        <div class="position-relative">
            <div class="bx @(Model.ReservaOvarica <= 10 ? "selected-icon" : "unselected-icon") custom-square">
                <i class="bx bxs-leaf fs-4"></i>
            </div>
            <p class="color-texto fs-5 font-family-roboto position-absolute bottom-5 start-50 translate-middle-x mb-0">Bajo</p>
        </div>

        <div class="position-relative">
            <div class="bx @(Model.ReservaOvarica > 10 && Model.ReservaOvarica <= 20 ? "selected-icon" : "unselected-icon") custom-square">
                <i class="bx bxs-leaf fs-4"></i>
            </div>
            <p class="color-texto fs-5 font-family-roboto position-absolute bottom-5 start-50 translate-middle-x mb-0">Medio</p>
        </div>

        <div class="position-relative">
            <div class="bx @(Model.ReservaOvarica > 20 ? "selected-icon-high" : "unselected-icon-high") custom-square">
                <i class="bx bxs-leaf fs-4"></i>
            </div>
            <p class="color-texto fs-5 font-family-roboto position-absolute bottom-5 start-50 translate-middle-x mb-0">Alto</p>
        </div>
    </div>

    @if (Model.ReservaOvarica <= 20)
    {
        <div class="map-container text-center my-auto">
            <div id="mapa" class="mx-auto">
            </div>
        </div>
    }
</body>


